@media screen and (min-width:1024px) {

    /* header */
    #settings-fullversion{
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        align-items: center;
    }

    #settings-fullversion ul {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
    }

    #settings-fullversion ul li{
        list-style: none;
        font-size: 22px;
    }

    #settings-fullversion ul li a {
        text-decoration: none;
        color: white;
    }

    #settings-fullversion button a{
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    

    #settings{
        display: none;
    }

    /* main */
    /* planning section */

    #row-planning{
        display: flex;
        justify-content: space-between;
    }

    .col-planning{
        width: calc(90% / 2);
    }

    #app-development{
        align-self: flex-end;
    }

    /* benefits section */

    #benefits-row{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .benefits-block{
        width: calc(95% / 3);
    }
} 
