@media screen and (min-width:1024px) {

    /* header */
    #settings-fullversion{
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        align-items: center;
    }

    #settings-fullversion ul {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
    }

    #settings-fullversion ul li{
        list-style: none;
        font-size: 22px;
    }

    #settings-fullversion ul li a {
        text-decoration: none;
        color: white;
    }

    #settings-fullversion button {
        color: black;
        font-size: 15px;
    }
   
    #settings{
        display: none;
    }

    /* main */

        /* developer section */

            /* demo block */

            #demo{
                display: flex;
            }

            #text-iphone-container{
                width: 500px;
            }

            #iphone-image-container{
                align-self: flex-end;
            }



    /* planning section */

    #strategic-planning{
        min-height: 900px;
    }

    #strategic-planning h2{
        padding: 70px 0;
    }

    #row-planning{
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .col-planning{
        width: calc(65% / 2);
    }

    #app-development{
        align-self: flex-end;
    }

    /* benefits section */

    #benefits-row{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .benefits-block{
        width: calc(95% / 3);
    }
} 
