/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
}

/* header rules */
header{
    width: 100%;
    height: 100px;
    background-color: #0084fd;
    position: fixed;
}

header nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
}

#settings{
    display: flex;
    align-items: center;
}

.fa-bars{
    font-size: 40px;
    cursor: pointer;
}

/* main */
    /* developer section */
    
    .block-developer{
        background-color: #b5ddff;
        margin-top: 50px;
    }

    #developer{
        padding-top: 100px;
    }

    /* planning section */

    #planning{
        background-color: #9792e4;
        margin-top: 100px;
        padding: 50px 0;
    }

    #app-development{
        margin-top: 50px;
    }

    /* partner section */

    .profile{
        background-color: #9792e4;
        width: 100%;
        margin: 50px 0;
    }

    #text-partner{
        margin: 50px 0;
    }

    /* benefits section */

    #benefits{
        background-color: #9792e4;
        padding: 50px 0;
    }

    .benefits-block{
        margin-top: 50px;
    }

    #benefits h2{
        width: 85%;
        margin: 0 auto;
    }

    /* about us section */

    #about-us{
        padding: 50px 0;
    }

    #text-aboutus{
        margin-bottom: 50px;
    }

    /* call-to-action */

    #call-to-action{
        background-color: #9792e4;
        padding: 50px 0;
    }

/* footer */

footer{
    background-color: rgba(51,51,51,255);
    min-height: 300px;
    padding: 20px 0;
}

    








    
/* debug rules */

/* header */

    /* nav */

   
    #settings-fullversion{
        height: 100%;
        width: 30%;
        border: 1px solid green;
        background-color: grey;
        display: none;
    }

/* main */

    /* developer section */
    .block-developer{
        min-height: 500px;
    }

    /* planning section */

    .col-planning{
        background-color: pink;
        min-height: 500px;
    }

    /* partner section */

    .profile{
        min-height: 350px;
    }
    #text-partner{
        background-color: burlywood;
        min-height: 350px;
    }

    /* benefits section */

    #benefits h2 {
        background-color: red;
        min-height: 150px;
    }

    .benefits-block{
        min-height: 350px;
        background-color: crimson;
    }

    /* about-us section */

    #text-aboutus{
        min-height: 400px;
        background-color: cyan;
    }

    #profile-aboutus{
        min-height: 400px;
        background-color: cyan;
    }

    /* call to action section */
    .start-now{
        background-color: darkolivegreen;
        min-height: 800px;
    }

    /* footer */

    .footer-block div{
        height: 120px;
        margin-bottom:20px;
        background-color: yellow;
    }