@media screen and (min-width:768px){

    /* developer section */
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #demo{
        width: 65%;
    }

    .block-developer{
        width: 30%;
    }

    /* benefits section */
    
    #benefits-row{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .benefits-block{
        width: calc(95% / 2);
    }

    /* about us section */

    #row-aboutus{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    #profile-aboutus{
        width: 25%;
    }

    #text-aboutus{
        margin-bottom: 0;
        width: 65%;
    }
} 