@media screen and (min-width:768px){
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #demo{
        width: 65%;
    }

    .block-developer{
        width: 30%;
    }
} 